/* Universal stuff */
html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
}
h2, h4 {
  font-weight: bold;
  color: white;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.med-nav {
  display: none;
}

/* Header with logo and name */
header {
  background-color: black;
  color: white;
}
header .container {
  padding: 0.66rem 0 0.66rem 0.5rem;
  display: flex;
  align-items: center;
}
header img {
  height: 1.5em;
  padding-right: 1rem;
}

/* Banner with text box */
#banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}
#banner-text-box {
  top: 9rem;
  position: relative;
  background-color: black;
  padding: 2rem 0 2rem 3rem;
  width: 20rem;
}
#banner-text-box h2 {
  font-size: 2rem;
}
#banner-text-box h4 {
  margin-bottom: 0.25rem;
}

/* Navigation bar */
nav {
  background-color: firebrick;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.75rem;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  text-decoration: none;
}

/* Main section */
.product-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.product {
  width: 30%;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
}
.product img {
  max-width: 9rem;
}
.product span {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
  display: block;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.info-item {
  width: 35%;
  margin-bottom: 4rem;
}
.info-heading {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 698px;
    margin: 0 auto;
  }
  .fs-nav {
    display: none;
  }
  .med-nav {
    display: block;
  }
  .med-nav nav {
    display: flex;
  }
  .product{
    width: 47%;
  }
  #banner-text-box {
    width: 15rem;
  }
  #banner-text-box h2 {
    font-size: 1.5rem;
  }
  #glasses {
    display: none;
  }
}
